{% extends 'base.html' %}
{% load staticfiles %}
{% load ticket_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static "contracts/css/isloading_overlay.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dataTables-1.10.5/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dataTables-1.10.5/css/dataTables.bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contracts/css/bpopup_overlay.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contracts/css/styles.css" %}">

    <script type="text/javascript" language="javascript" src="{% static "dataTables-1.10.5/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "dataTables-1.10.5/js/dataTables.bootstrap.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "contracts/js/jquery.bpopup.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "contracts/js/jquery.isloading.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "contracts/js/sync_controller.js" %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#id_name, #id_contracts").change(function () {
                if ($(this).val()) {
                    $('#form-contracts').submit();
                }
            });
            $('#form_results').DataTable({
                data: [
                    {% for date, objects in data.items %}
                        {%  for object in objects %} {
                            id: "<a href='{{ object|resolve_id_url }}' target='_blank'>#{{ object.pk }}</a>",
                            date: "{{ date }}",
                            title: "{{ object.subject }}",
                            created_at: "{{ object.created_at }}",
                            updated_at: "{{ object.updated_at }}",
                            hours: "{% load_hours object contract %}",
                            status: "{% resolve_status object %}"
                            },
                        {% endfor %}
                    {% endfor %}
	            ],
	            columns: [
	                {data: 'id'},
                    {data: 'date'},
	                {data: 'title'},
	                {data: 'created_at'},
	                {data: 'updated_at'},
	                {data: 'hours'},
                    {data: 'status'}
	            ]
	        });
        })
    </script>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="container-fluid alert alert-info">
            <button id="btn_show_sync" class="btn btn-primary">Sincronizar dados</button>
            {% if data %}
                <span class="text-info">Total de horas do contrato: {{ contract.hours }}</span>
                <span class="text-danger"> | Horas restantes: {% calc_hours_remainder contract data %}</span>
                <span class="text-success"> | Horas gastas: {% calc_hours_spent contract data %}</span>
            {% endif %}
            <div id="sync_box"> <a class="sync_box_btn_close btn">X</a>
                <div id="sync_box_info" class="alert alert-warning">
                    <p>Dados sincronizados com <span id="sync_box_state"></span></p>
                    <p>Total de tickets carregados: <span id="sync_box_total"></span></p>
                </div>
                <div id="sync_box_error" class="alert alert-danger">
                    <p>Messagem do servidor: <span class="text-warning" id="sync_box_error_message"></span></p>
                </div>
            </div>
        </div>

        <div id="form-container" class="container">
            <form action="." method="post" id="form-contracts">{% csrf_token %}
                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                    <label for="{{ form.name.auto_id }}" class="control-label">{{ form.name.label }}</label>
                    {{ form.name.errors }}
                    {{ form.name }}
                </div>
                {% ifequal form_step 2 %}
                    <div class="form-group {% if related_form.contracts.errors %}has-error{% endif %}">
                        <label for="{{ related_form.contracts.auto_id }}" class="control-label">{{ related_form.contracts.label }}</label>
                        {{ related_form.contracts.errors }}
                        {{ related_form.contracts }}
                    </div>
                    <div class="form-group {% if form.status.errors %}has-error{% endif %}">
                        <label for="{{ form.status.auto_id }}" class="control-label">{{ form.status.label }}</label>
                        {{ form.status.errors }}
                        {{ form.status }}
                    </div>
                    <div class="form-group {% if period_form.period.errors %}has-error{% endif %}">
                        <label for="{{ period_form.period.auto_id }}" class="control-label">{{ period_form.period.label }}</label>
                        {{ period_form.period.errors }}
                        {{ period_form.period }}
                        <span class="help-block">{{ period_form.period.help_text }}</span>
                    </div>
                {% endifequal %}
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Enviar</button>
                    <input type="hidden" name="form_step" value="{{ form_step }}">
                </div>
            </form>
        </div>
        {% if data %}
        <div id="results-container" class="container-fluid">
            <table id="form_results" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Datas</th>
                    <th>Título</th>
                    <th>Data Inicial</th>
                    <th>Data Final</th>
                    <th>Horas gastas</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}