{% extends 'base.html' %}
{% load staticfiles %}
{% load ticket_tags %}
{% load date_formats %}
{% block title %}Controle de horas{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static "contracts/css/isloading_overlay.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dataTable-1.10.6/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dataTable-1.10.6/css/dataTables.bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contracts/css/bpopup_overlay.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contracts/css/styles.css" %}">

    <script type="text/javascript" language="javascript" src="{% static "dataTable-1.10.6/js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "dataTable-1.10.6/js/dataTables.bootstrap.js" %}"></script>

    <script type="text/javascript" language="javascript" src="{% static "dataTable-1.10.6/js/moment.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "dataTable-1.10.6/plugins/datetime-moment.js" %}"></script>

    <script type="text/javascript" language="javascript" src="{% static "contracts/js/jquery.bpopup.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "contracts/js/jquery.isloading.min.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "contracts/js/sync_controller.js" %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            var _name = $("#id_name").val();
            var form = $('#form-contracts');

            form.submit(function() {
                var name = $("#id_name").val();
                form.find("#id_context_changed").attr('value', (_name && name !== _name ? 1 : 0));
            });

            $("#id_name, #id_contracts").change(function() {
                if ($(this).val()) {
                    form.submit();
                }
            });

            $.fn.dataTable.moment("{% get_format 'DATE_FORMAT' %}");
            $.fn.dataTable.moment("{% get_format 'DATETIME_FORMAT' %}");

            $('#form_results').DataTable({
                data: [
                    {% for date, queryset in intervals.items %}
                        {%  for obj in queryset %} {
                            id: "<a href='{{ obj|resolve_id_url }}' target='_blank'>#{{ obj.pk }}</a>",
                            date: "{{ date }}",
                            subject: "{{ obj.subject }}",
                            created_at: "{{ obj.created_at }}",
                            updated_at: "{{ obj.updated_at }}",
                            estimated_hours: "{% load_estimated_hours contract obj %}",
                            spent_hours: "{% load_spent_hours contract obj %}",
                            status: "{% resolve_status obj %}"
                            },
                        {% endfor %}
                    {% endfor %}
	            ],
                {% block i18nDataTable %}
                 "language": {
                    "url": "{% static "dataTable-1.10.6/i18n/Portuguese-Brasil.json" %}"
                },{% endblock %}
                autoWidth: false,
                "columnDefs": [
                    {width: "12%", targets: [5, 6, 7]},
                    {className: 'dt-body-center', targets: [5, 6, 7]}
                ],
	            columns: [
	                {data: 'id'},
                    {data: 'date'},
	                {data: 'subject'},
	                {data: 'created_at'},
	                {data: 'updated_at'},
	                {data: 'estimated_hours'},
                    {data: 'spent_hours'},
                    {data: 'status'}
	            ]
	        });

            function export_config_submit(object, format) {
                object.attr('value', format);
                try {
                    form.submit();
                } finally {
                    object.attr('value', null);
                }
            }

            $('#btn_export_csv').click(function() {
                export_config_submit(form.find("#_export_as"), 'csv');
            });

            $('#btn_export_pdf').click(function() {
                export_config_submit(form.find("#_export_as"), 'pdf');
            })
        })
    </script>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="container-fluid alert alert-success row">
            <button id="btn_show_sync" class="btn btn-primary btn-sm action-controller">Sincronizar dados</button>
            {% if intervals %}
                <span class="text-info static-inf">Total de horas: {{ contract.hours }}</span>
                {% ifequal intervals|length 1 %} {# hora média do perído(único) selecionado. #}
                    <span class="text-success"><span class="text-divider">|</span>Média por período: {{ contract.average_hours }}</span>
                {% endifequal %}
                <span class="text-warning"><span class="text-divider">|</span>Horas gastas: {{ spent_hours }}</span>
                <span class="text-{% if remainder_hours > 0 %}success{% else %}danger{% endif %}">
                    <span class="text-divider">|</span>Horas restantes: {{ remainder_hours }}
                </span>
                <button id="btn_export_csv" class="btn btn-success btn-sm action-controller">Exportar csv</button>
                <button id="btn_export_pdf" class="btn btn-success btn-sm action-controller">Exportar pdf</button>
            {% endif %}
            <div id="sync_box"> <a class="sync_box_btn_close btn">X</a>
                <div id="sync_box_info" class="alert alert-warning">
                    <p>Dados sincronizados com <span id="sync_box_state"></span></p>
                    <p>Total de tickets carregados: <span id="sync_box_total"></span></p>
                </div>
                <div id="sync_box_error" class="alert alert-danger">
                    <p>Messagem do servidor: <span class="text-warning" id="sync_box_error_message"></span></p>
                </div>
            </div>
        </div>

        <div id="form-container" class="container-fluid row">
            <div class="container-fluid col-md-4 col-md-offset-1">
                <form action="." method="post" id="form-contracts">{% csrf_token %}
                    <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                        <label for="{{ form.name.auto_id }}" class="control-label">{{ form.name.label }}</label>
                        {{ form.name.errors }}
                        {{ form.name }}
                    </div>
                    {% ifequal form_step 2 %}
                        <div class="form-group {% if related_form.contracts.errors %}has-error{% endif %}">
                            <label for="{{ related_form.contracts.auto_id }}" class="control-label">{{ related_form.contracts.label }}</label>
                            {{ related_form.contracts.errors }}
                            {{ related_form.contracts }}
                        </div>
                        <div class="form-group {% if form.status.errors %}has-error{% endif %}">
                            <label for="{{ form.status.auto_id }}" class="control-label">{{ form.status.label }}</label>
                            {{ form.status.errors }}
                            {{ form.status }}
                        </div>
                        <div class="form-group {% if period_form.period.errors %}has-error{% endif %}">
                            <label for="{{ period_form.period.auto_id }}" class="control-label">{{ period_form.period.label }}</label>
                            {{ period_form.period.errors }}
                            {{ period_form.period }}
                            <span class="help-block">{{ period_form.period.help_text }}</span>
                        </div>
                    {% endifequal %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Enviar</button>
                        <input type="hidden" name="form_step" value="{{ form_step }}">
                        <input type="hidden" name="_export_as" id='_export_as' value="">
                        {{ form.context_changed }}
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-sm-offset-1 table-container">
                {% if intervals %}
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Total de horas</th>
                                {% ifequal intervals|length 1 %}
                                    <th>Média por período</th>
                                    <th class="text-{% if spent_credits >= 0 %}success{% else %}danger{% endif %}">Saldo devedor</th>
                                    <th class="text-{% if valid_hours > 0 %}success{% else %}danger{% endif %}">Horas válidas</th>
                                {% endifequal %}
                                <th>Horas gastas</th>
                                <th class="text-{% if remainder_hours > 0 %}success{% else %}danger{% endif %}">Horas restantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>{{ contract.hours }}</strong></td>
                                {% ifequal intervals|length 1 %}
                                    <td><strong>{{ contract.average_hours }}</strong></td>
                                    <td>
                                        <strong class="text-{% if spent_credits >= 0 %}success{% else %}danger{% endif %}">
                                            {{ spent_credits }}
                                        </strong>
                                    </td>
                                    <td>
                                        <strong class="text-{% if valid_hours > 0 %}success{% else %}danger{% endif %}">
                                            {{ valid_hours }}
                                        </strong>
                                    </td>
                                {% endifequal %}
                                <td><strong>{{ spent_hours }}</strong></td>
                                <td>
                                    <strong class="text-{% if remainder_hours > 0 %}success{% else %}danger{% endif %}">
                                        {{ remainder_hours }}
                                    </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
        {% if intervals %}
        <div class="container-fluid table-container">
            <table id="form_results" class="table table-striped table-bordered" cellspacing="5" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Datas</th>
                    <th>Título</th>
                    <th>Data Inicial</th>
                    <th>Data Final</th>
                    <th>Horas estimadas</th>
                    <th>Horas gastas</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}