.static-inf {
    margin-left: 10px;
}

.table-container {
    margin: 10px;
}

#form_results_filter input {
    width: auto;
}

span.text-divider{
    margin: 5px;
}

.action-controller {
    margin-right: 10px;
    float: right;
}

.dt-body-center {
    text-align: center;
}